<div class="flex w-full h-full flex-col rounded-md shadow-md py-2 px-4">
  <div class="flex flex-row">
    <p class="bg-[#ECEEFB] text-[#0E0E8C] py-1 px-2 rounded-sm font-semibold text-xs">• Not Starded {{task.state}}</p>
  </div>


  <div class="flex flex-col">
    <p class="font-semibold mt-1"> titre de la tache: {{task.title}}</p>
    <p class="text-sm text-gray-500">Description : {{task.description}}</p>
    <div class="flex flex-row mt-3 items-center justify-between pt-1 border-t-1 border-gray-200">
      <p class="text-xs text-gray-500">Date {{task.date}}</p>
      <p class="text-xs bg-[#FDEAEB] text-[#CA5556] py-1 px-2 rounded-sm">Importance {{task.priority}}</p>
    </div>
  </div>



  <div>

  </div>

</div>
